    *, *::before, *::after {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    :root {
        /* font-family */
        --ff-sans-serif: "lato", sans-serif;

        /* font-size */
        --16px: 1rem;
        --20px: 1.25rem;
        --22px: 1.38rem;
        --24px: 1.5rem;
        --28px: 1.75rem;
        --32px: 2rem;
        --36px: 2.3rem;
        --70px: 4.4rem;
        --80px: 5rem;

        /* color */
        --faded-light-blue: #628cf8;
        --faded-dark-blue: #373889;
        --dark-purplish: #924fb9;
        --purplish: #a14de2;
    }
    body {
        color: #fff;
        background-color: #131313;
        font-size: var(--16px);
        font-family: var(--ff-sans-serif);
    }
    .flex {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .grid {
        display: grid;
        /* place-items: center; */
        grid-template-columns: repeat(2, 1fr);
    }
    .container {
        padding-inline: 50px;
        /* outline: 3px solid green; */
    }
    /* navbar */
    .navbar {
        font-size: var(--20px);

        padding-block: 20px;
        width: 100%;
        background-color: var(--faded-dark-blue);
    }
    .nav {
        height: 100%;
        width: 100%;
        justify-content: space-between;
    }
    .nav h1 {
        font-weight: bold;
        font-size: var(--36px);
        color: var(--dark-purplish);
    }
    .nav .nav-list,
    .navbar .nav {
        gap: 20px;
    }
    .nav-list .list-item {
        list-style-type: none;
        margin: 0 10px;
        flex: 1 1 auto;
    }
    .nav-list a {
        text-decoration: none;
        color: inherit;
    }
    .nav-list .nav-btn {
        background-color: var(--faded-light-blue);
        padding: 10px;

        border: none;
        border-radius: 4px;
    }
    .nav-list .list-item:hover {
        color: var(--dark-purplish);
        text-decoration: underline;
    }
    .nav-list .nav-btn:hover {
        color: var(--faded-dark-blue);
        background-color: var(--purplish);
        transition: all 0.3s ease;
    }

    /* product-description */

    .product-description .container {
        overflow: visible;
        gap: 50px;
    }
    .flex-item-1, 
    .flex-item-2 {
        position: relative;
        top: 50px;
        flex: 1 1 500px;
        /* outline: 2px solid green; */
    }
    .flex img {
        box-shadow: 7px 7px 10px rgb(0 0 0 / 20%);
        object-fit: cover;
        width: 100%;
    }
    .flex-item-2 {
        text-align: justify;
        padding: 70px;
    }
    .flex-item-2 h3 {
        font-size: var(--32px);
        line-height: 1.2;
        font-weight: 600;

        margin-bottom: 30px;
        text-align: center;
    }

    /* reviews section */
    .reviews {
        margin-top: 150px;
        margin-bottom: 150px;
    }
    .cards {
        gap: 50px;
    }
    .card {
        flex: 1 1 300px;
        padding-block: 30px;
        padding-inline: 50px;
        text-align: left;

        border-radius: 10px;
        box-shadow: -7px -7px 10px rgb(0 0 0 / 20%), 7px 7px 10px rgb(0 0 0 / 20%);
    }
    .card h3 {
        text-align: center;
        padding-bottom: 10px;
        margin-bottom: 15px;
        border-bottom: 2px solid #fff;
    }